.btn-purple {
  background-color: #74445C !important;
  color: white !important;
  border: none !important;
}

/* Hide on desktop */
.mobile-custom-buttons {
    display: none;
    margin: 8px 0;
}

/* Mobile view styling */
@media (max-width: 768px) {
    .mobile-custom-buttons {
        display: flex;
        flex-wrap: nowrap; /* force single row */
        gap: 4px;
    }
    .mobile-custom-buttons button {
        flex: 1; /* equal width for all buttons */
        height: 40px;
        font-size: 20px; /* slightly smaller text */
        padding: 4px 6px; /* reduce padding so they fit */
        white-space: nowrap; /* keep text on one line */
    }
}

div[name="component_id"].radio_style{
  .o_vertical{
    display: flex;
    flex-direction: row !important;
    flex-flow: row wrap;
    gap: 16px;
    width: 100%;
     .o_radio_item{
        margin-bottom: 5px;
        width: calc(50% - 8px);
        padding: 0 !important;
        position: relative;
        input{
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          margin: 0;
          border-radius: 0;
          opacity: 0;
          transition: 0.2s;
          &:checked{
            background-color: #23a845 !important;
            color: #fff !important;
          }
        }
        input + .form-check-label{
            width: 100%;
            padding: 8px 15px;
            border: 1px solid #d8dadd;
            transition: 0.2s;
        }
        input:checked + .form-check-label{
          border: 1px solid #2e994e !important;
          // background-color: #2e994e !important;
          // color: #fff;
        }
    }
  }
}

div[name="room_ids"].checkboxes_style{
  > div{
    display: flex;
    flex-direction: row !important;
    flex-flow: row wrap;
    gap: 16px;
    width: 100%;
     > div{
        margin-bottom: 5px;
        width: calc(50% - 8px);
        padding: 0 !important;
        position: relative;
        .form-check{
            width: 100% !important;
            padding-left: 0;
        }
        input{
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          margin: 0;
          border-radius: 0;
          opacity: 0;
          transition: 0.2s;
          &:checked{
            background-color: #23a845 !important;
            color: #fff !important;
          }
        }
        input + .form-check-label{
            width: 100%;
            padding: 8px 15px;
            border: 1px solid #d8dadd;
            transition: 0.2s;
        }
        input:checked + .form-check-label{
          border: 1px solid #2e994e !important;
          // background-color: #2e994e !important;
          // color: #fff;
        }
    }
  }
}
